/* index */

.animation {
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* servicios */

.colocacion--servicios {
    display: grid;
    
    grid-template-areas:
    "SERVICIOS PRECIOS SE-PAGA-POR"
    "Desarrollo-web-de-tu-pagina USD Pagina-y-hora-trabajada"
    "Front-end-de-tu-pagina USD complejidad-del-proyecto"
    "Back-end-de-tu-pagina USD complejidad-del-proyecto";
}

.borde {
    border: solid 1.5px black;
}

.espacio-palabras-tabla {
    padding: 5px;
}

.color-fondo-2 {
    background-color: cadetblue;
}

/* portfolio */

.tamaño-imagenes--portfolio {
    width: 250px;
}

/* sobre mi */

.tamaño-texto--sobre-mi {
    font-size: 31px;
}

.tamaño-imagen--sobre-mi {
    width: 200px;
    padding-left: 5px;
}

/* contacto */

.texto-gris {
    color: gray;
}

/* Para las 5 paginas */

.separacion-pagina-texto {
    padding: 0px 0px 0px 4px;
}

.separacion {
    padding: 8.5px 0px 0px 0px;
}

.color-fondo {
    background-color: #16537e;
}

.texto-blanco {
    color: white;
}

.box-modeling-necesario  {
    padding: 15px 0px 0px 0px;
}

/* para algunas paginas */

.separacion-2 {
    padding-top: 16px;
}

/* para casi todas las paginas */

.texto-negro {
    color: black;
}    