/* index */

.animation--index {
    animation-name: fade-in--index;
    animation-duration: 1s;
}

@keyframes fade-in--index {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* servicios */

.animation--servicios {
    animation-name: fade-in--servicios;
    animation-duration: 1s;
}

@keyframes fade-in--servicios {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.color-fondo--servicios {
    background-color: #16537e;
}

.colocacion--servicios {
    display: grid;
    
    grid-template-areas:
    "SERVICIOS PRECIOS SE-PAGA-POR"
    "Desarrollo-web-de-tu-pagina USD Pagina-y-hora-trabajada"
    "Front-end-de-tu-pagina USD complejidad-del-proyecto"
    "Back-end-de-tu-pagina USD complejidad-del-proyecto";
}

.borde {
    border: solid 1.5px black;
}

.espacio-palabras-tabla {
    padding: 5px;
}

.color-fondo-2 {
    background-color: cadetblue;
}

.box-modeling-nesesario--servicios {
    padding: 15px 0px 0px 0px; 
}

/* portfolio */

.animation--portfolio {
    animation-name: fade-in--portfolio;
    animation-duration: 1s;
}

@keyframes fade-in--portfolio {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.color-fondo--portfolio {
    background-color: #16537e;
}

.tamaño-imagenes--portfolio {
    width: 250px;
}

.box-modeling-necesario--portfolio {
   padding: 15px 0px 0px 0px; 
} 

/* sobre mi */

.animation--sobre-mi {
    animation-name: fade-in--sobre-mi;
    animation-duration: 1s;
}

@keyframes fade-in--sobre-mi {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.color-fondo--sobre-mi {
    background-color: #16537e;
}

.tamaño-texto--sobre-mi {
    font-size: 31px;
}

.tamaño-imagen--sobre-mi {
    width: 200px;
    padding-left: 5px;
}

.box-modeling-necesario--sobre-mi {
    padding: 15px 0px 0px 0px;
}

/* contacto */

.animation--contacto {
    animation-name: fade-in--contacto;
    animation-duration: 1s;
}

@keyframes fade-in--contacto {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.color-fondo--contacto {
    background-color: #16537e;
}

.box-modeling-necesario--contacto {
    padding: 15px 0px 0px 0px;
}

/* Para las 5 paginas */

.separacion-pagina-texto {
    padding: 0px 0px 0px 4px;
}

.separacion {
    padding: 8.5px 0px 0px 0px;
}

.color-fondo {
    background-color: #16537e;
}

.texto-blanco {
    color: white;
}

.texto-negro {
    color: black;
}    

.box-modeling-necesario  {
    padding: 15px 0px 0px 0px;
}

/* para algunas paginas */

.separacion-v2 {
    padding-top: 16px;
}